.home-section .container {
  max-width: 85% !important;
}

.article-container {
  max-width: 85% !important;
}

@media only screen and (min-width: 1001px) {
  .universal-wrapper {
    max-width: 85%;
    min-width: 85%;
  }
}

#recent_publications .section-heading h1 {
  margin-bottom: 1rem !important;
  color: rgb(153, 0, 0);
}

#bspl li a {
  color: inherit;
}

.media.stream-item img {
  max-width: 50%;
}

// Shortcodes
.bright-green {
  color: rgb(147, 196, 125);
}

.teal {
  color: rgb(19, 79, 92);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.no-link-color a {
  color: inherit;
}

.crimson {
  color: rgb(153,0,0) !important;
}

.crimson h1, h2, h3, h4 {
  color: inherit;
}

.image-space img {
  margin: 3px;
}


// Image attributes
img[src$='#25'] {
  width: 25%;
}

img[src$='#50'] {
  width: 50%;
}

img[src$='#75'] {
  width: 50%;
}

img[src$='#center'] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

img[src$='#center50'] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img[src$='#center75'] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

